{{ ansible_managed|comment }}

[Unit]
Description=system configuration upgrade
After=network-online.target
 
[Service]
ExecStart=/bin/sh -c 'ansible-pull -U "{{ ansible_pull_url }}" -d /run/init ansible/vpn-l2tp/playbook.yml'
TimeoutStopSec=600
